<%- include('../partials/adminHeader.ejs') %>
<h1>dashboard</h1>

<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Users List</h4>
          <!----- <p class="card-description">
          Add class <code>.table-striped</code>
        </p>--->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  id
                </th>
                <th>
                  User Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Phone number
                </th>
                <th>
                  Status
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <% if(users.length> 0){ %>

              <% for(let i=1;i<users.length;i++){ %>
              <tr>
                <td>
                  <%= i %>
                </td>
                <td>
                  <%= users[i-1].name %>
                </td>
                <td>
                  <%= users[i-1].email %>
                </td>
                <td>
                  <%= users[i-1].mobile%>
                </td>
                <td>
                  <%if( users[i-1].is_blocked){%>
                  <label class="text-success">blocked </label>
                  <%} else{%>
                  <label class="text-danger">unblocked </label>
                  <%} %>
                </td>

                <td>
                  <%if( users[i-1].is_blocked){%>
                  <a onclick="return confirm('Do you want to unblock <%= users[i-1].name %>?')" href="/admin/block?id=<%= users[i-1]._id %>">
                    <button type="button" class="btn-block btn-success btn-sm">Unblock</button></a>
                  <%} else{%>
                  <a onclick="return confirm('Do you want to block <%= users[i-1].name %>?')" href="/admin/block?id=<%= users[i-1]._id %>">
                    <button type="button" class="btn-block btn-danger btn-sm"> Block </button></a>
                  <%} %>
                </td>
              </tr>
              <% } } else{ %>
              <tr>
                <td colspan="5">users not found </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    
    <%- include('../partials/adminFooter.ejs') %>